<a href="https://colab.research.google.com/github/Pupusari/2001206078_ECE/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=5
b=2
print('a/b=',a/b)
print('a/b=',a//b)
print('a**b=',a**b)

a/b= 2.5
a/b= 2
a**b= 25

In [2]:
a=5
b=2
print('a/b=',a/b)
print('a/b=',a//b)
print('a**b=',a**b)
print('a<b=',a<b)
print('a>b=',a>b)

a/b= 2.5
a/b= 2
a**b= 25
a<b= False
a>b= True

In [3]:
#Using Logical Operators 
a=True
print('not A=',not a)
b=False
print('not B=',not b)

not A= False
not B= True

In [4]:
#Using Bitwise Operator
a=2
b=3
c=a<<b
print('a<<b',c)

a<<b 16

In [5]:
#Using IDENTITY OPERATOR (is and is not).
a=5
b=5
print('a is b',a is b)
print('a is not b',a is not b)
x='CSE'
y='ECE'
print('x is y',x is y)
print('x is not y',x is not y)

a is b True
a is not b False
x is y False
x is not y True

In [6]:
#Using Membership Operator(in and not in)
a='HELLO ECE'
print('A in a=',a in 'A')

A in a= False

In [ ]:
num=int(input("enter the number?"))
if num%2 == 0:
   print("number is even")

In [ ]:
#Using if..elif statement
num=int(input("enter the number?"))
if num== 10:
   print("number is equals to 10")  
   elif number==50:
     print("number is eqaul to 50")
     elif number==100:
       print ("number is eqaul to 100")
       else :
         print ("number is not equal to 10,50 or 100")